/*Overlay*/
.overlay-container {
  width: 100%;
  height: 648px;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: calc(100vh - 648px);
  left: 0;
  background: linear-gradient(
    359deg,
    #0d0c0f 0.83%,
    rgba(13, 12, 15, 0.85) 28.55%,
    rgba(13, 12, 15, 0) 48.81%,
    rgba(13, 12, 15, 0.28) 70.66%,
    #0d0c0f 103.18%
  );
  z-index: 1;
}

.overlay-info {
  margin: 64px 75px;
  z-index: 2;
}

@media screen and (max-width: 767px) {
  .overlay-info {
    margin: 64px 16px;
  }
}
.overlay-details > * {
  margin: 0;
}

.overlay-text {
  margin: 24px 0px;
}

.overlay-text > h1 {
  color: var(--White, #fff);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 125% */
  letter-spacing: 0.16px;
}

.overlay-text > p {
  color: var(--Grey, #9ca4ab);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
  letter-spacing: 0.07px;
}

.season-info {
  display: flex;
  padding: 4px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 16px;
  background: var(--800-Black, #0d0c0f);
}
.season-info:hover {
  background: var(--800-Black, #0d0c0f);
  cursor: default;
}

.season-info > p {
  color: var(--grayscale-grayscale-10, #f9f9f9);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 166.667% */
  letter-spacing: 0.06px;
}

.season-info > p {
  color: var(--grayscale-grayscale-10, #f9f9f9);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 166.667% */
  letter-spacing: 0.06px;
}

.overlay-button1 {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 32px;
  background: #be123c;
  color: #f9f9f9;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 157.143% */
  letter-spacing: 0.07px;
}

.overlay-button2 {
  background: none;
  display: flex;
  padding: 12px 24px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border-radius: 32px;
  border: 1px solid var(--White, #fff);
  color: #f9f9f9;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 157.143% */
  letter-spacing: 0.07px;
}

.overlay-button2:hover {
  border: 1px solid var(--White, #fff);
}

.overlay-button1:hover {
  background: #be123c;
}

.btn-cta {
  display: flex;
  padding: 12px 24px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border-radius: 10px;
  border: 1px solid var(--700-Black, #28262d);
  color: white;
}

.btn:hover {
  color: white;
}
