* {
  font-family: "DM Sans", sans-serif;
}

.header--title {
  color: #000;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0px;
  margin-right: 56px;
}

.header--container > p {
  color: #000;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.media-container > p {
  color: #000;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  letter-spacing: 0.08px;
}
.header--container {
  margin: 136px 96px 56px;
}

.mb-12 {
  margin-bottom: 12px;
}

.more--button {
  display: inline-flex;
  padding: 12px 24px;
  align-items: center;
  gap: 8px;
  border-radius: 32px;
  border: 2px solid #be123c;

  color: #be123c;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.more--button:hover {
  background: none;
  border: 2px solid #be123c;
  color: #be123c;
  box-shadow: 0 0 10px rgba(190, 18, 60, 0.5);
}

.similar-icon {
  width: 18px;
  height: 18px;
}
